# Project Organziation Quiz


You are reporting on people migrating from one state to another based on tax filing data from the IRS. 

Here's data:

<a href="https://drive.google.com/file/d/1bQzqwY3GCB-h7UI7DXYa1QnViazBMrPo/view?usp=share_link">file 1<a/>, <a href="https://drive.google.com/file/d/1THi04WKiITOZmBa3lkiskIazU6Snel-2/view?usp=share_link">file 2</a>, <a href="https://drive.google.com/file/d/1cbanBNrQ7WUE2-juo04Y9Kt3V6zYBHLq/view?usp=share_link">file 3</a>, <a href="https://drive.google.com/file/d/1SToyn90MR0dl7Cg8-nlO-l4KXPaO33hG/view?usp=share_link">file 4</a>.

Share a repo with me for the project.



The only additional general info: 
    
- Your repo should be properly organized (as previously described/discussed).
    
- Run your notebook so the output shows that you have imported the data.

Then share your repo with me via the submission form under the Misc. assignment choice.
    
Good luck!

In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv("countyinflow1920.csv")
df1

,y2_statefips,y2_countyfips,y1_statefips,y1_countyfips,y1_state,y1_countyname,n1,n2,agi
0,1,1,96,0,AL,Autauga County Total Migration-US and Foreign,2169,4909,120570
1,1,1,97,0,AL,Autauga County Total Migration-US,2131,4793,117820
2,1,1,97,1,AL,Autauga County Total Migration-Same State,1432,3022,70573
3,1,1,97,3,AL,Autauga County Total Migration-Different State,699,1771,47247
4,1,1,98,0,AL,Autauga County Total Migration-Foreign,38,116,2751
...,...,...,...,...,...,...,...,...,...
87547,56,45,59,0,DS,Other flows - Different State,112,199,7778
87548,56,45,59,1,DS,Other flows - Northeast,-1,-1,-1
87549,56,45,59,3,DS,Other flows - Midwest,70,132,4131
87550,56,45,59,5,DS,Other flows - South,-1,-1,-1
87551,56,45,59,7,DS,Other flows - West,42,67,3648

In [6]:
df2 = pd.read_csv("countyoutflow1920.csv")
df2

,y1_statefips,y1_countyfips,y2_statefips,y2_countyfips,y2_state,y2_countyname,n1,n2,agi
0,1,1,96,0,AL,Autauga County Total Migration-US and Foreign,1914,4336,111235
1,1,1,97,0,AL,Autauga County Total Migration-US,1887,4265,109063
2,1,1,97,1,AL,Autauga County Total Migration-Same State,1209,2540,60756
3,1,1,97,3,AL,Autauga County Total Migration-Different State,678,1725,48307
4,1,1,98,0,AL,Autauga County Total Migration-Foreign,27,71,2172
...,...,...,...,...,...,...,...,...,...
87320,56,45,59,0,DS,Other flows - Different State,118,225,6256
87321,56,45,59,1,DS,Other flows - Northeast,-1,-1,-1
87322,56,45,59,3,DS,Other flows - Midwest,68,135,3437
87323,56,45,59,5,DS,Other flows - South,-1,-1,-1
87324,56,45,59,7,DS,Other flows - West,50,90,2819

In [ ]:
df3 = pd.read_csv("countyoutflow1920.csv")
df3